.wrap { 
    display: grid;
    padding-left: 15px;
    width: calc(100% - 30px);
    grid-template-columns: auto 1fr;
}
body{
    overflow: hidden;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr;
}
.s1 { 
    float: left; /*Задаем обтекание*/ 
    margin-right: 10px; 
    text-align: center; /*Центрируем текст по горизонтали*/ 
} 
.s2 { 
    float: left; /*Задаем обтекание*/ 
    width: 100%;
    text-align: center; /*Центрируем текст по горизонтали*/ 
} 